<h1>Editing Book</h1>
  <% if @book.errors.any? %>
    <% if @book.errors.count == 1 %>
    <%= @book.errors.count %>error prohibited this book from being saved:
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      <% else %>
          <%= @book.errors.count %>errors prohibited this book from being saved:
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% end  %>
  <% end %>
<%= form_with model: @book,  method: :patch do |book| %>
    <div class="field">
      <%= book.label :title, "Title" %>
      <%= book.text_field :title %>
    </div>
    <div class="field">
      <%= book.label :body, "Body" %>
      <%= book.text_area :body %>
    </div>
    <div class="action">
      <%= book.submit "Update Book" %>
    </div>
<% end %>
  <%= link_to "Show", "/books/#{@book.id}" %><span>｜</span><%= link_to "Back", "/books" %>